[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
